var $className = $className || {}

#foreach($function in $functions)
    $className.$!function.name=function(onLoad){
        var request = new XMLHttpRequest();
        request.open('$!function.method', '$baseUrl$!function.url');

        #if(!$function.consumes)
        request.setRequestHeader('Content-Type','$!function.consumes');
        #end

        request.addEventListener('load', onLoad);
        request.send();
}
#end