var $className = $className || {}

#foreach($function in $functions)
    $className.$!function.name=function(

    #foreach($param in $!function.parameters)
        $!param.name,
    #end

    onLoad){
        var request = new XMLHttpRequest();
        request.open('$!function.method', '$baseUrl$!function.path');

        #if($!function.consumes)
        request.setRequestHeader('Content-Type','$!function.consumes');
        #end

        request.addEventListener('load', onLoad);
        request.send();
}
#end