var $className = $className || {}

#foreach($function in $functions)
    $className.$!function.name=function(conf){
    conf = $.extend({
        method: '$!function.method'
        url: '$baseUrl$!function.path'
    }, conf);
    return $.ajax(conf);
}
#end